<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Getting Started: Serving Web Content</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
            font-family: Arial;
        }

        div.container {
            background-color: #e0ffff;
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 th:text="'Hello, ' + ${name} + '!'"></h1>
    </div>
</body>
</html>